In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold, KFold, cross_val_score
from sklearn import linear_model

In [20]:
petrol = pd.read_csv('petrol_consumption.csv')
petrol.head(10)

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410
5,10.0,5342,1333,0.571,457
6,8.0,5319,11868,0.451,344
7,8.0,5126,2138,0.553,467
8,8.0,4447,8577,0.529,464
9,7.0,4512,8507,0.552,498

In [6]:
petrol.columns = ['Податок на бензин', 'Середній заробіток', 'Асфальтоване шосе', 'Водійські права', 'Споживання бензину']
petrol.head(10)

,Податок на бензин,Середній заробіток,Асфальтоване шосе,Водійські права,Споживання бензину
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410
5,10.0,5342,1333,0.571,457
6,8.0,5319,11868,0.451,344
7,8.0,5126,2138,0.553,467
8,8.0,4447,8577,0.529,464
9,7.0,4512,8507,0.552,498

In [7]:
# Визначення цільової змінної
y = petrol['Споживання бензину']

In [8]:
# Видалення цільової змінної 
petrol.drop(['Споживання бензину'], axis=1, inplace=True)

In [9]:
# Для уникнення наявності текстових даних створюємо список, який містить імена столбців, що мають числовий тип даних
numeric_cols =[cname for cname in petrol.columns if petrol[cname].dtype in ['int64', 'float64']]
X =petrol[numeric_cols].copy()
X.head(10)

   Податок на бензин  Середній заробіток  Асфальтоване шосе  Водійські права
0                9.0                3571               1976            0.525
1                9.0                4092               1250            0.572
2                9.0                3865               1586            0.580
3                7.5                4870               2351            0.529
4                8.0                4399                431            0.544
5               10.0                5342               1333            0.571
6                8.0                5319              11868            0.451
7                8.0                5126               2138            0.553
8                8.0                4447               8577            0.529
9                7.0                4512               8507            0.552

In [10]:
X.shape

(48, 4)

In [11]:
# Cтворюємо об'єкт класа KFold
kf = KFold (n_splits=5, random_state=42, shuffle=True)
cnt = 1
for train_index, test_index in kf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set: {len(test_index)}')
    cnt +=1

Fold:1, Train set: 38, Test set: 10
Fold:2, Train set: 38, Test set: 10
Fold:3, Train set: 38, Test set: 10
Fold:4, Train set: 39, Test set: 9
Fold:5, Train set: 39, Test set: 9

In [13]:
# Розраховуємо корінь від'ємної середньоквадратичної похибки 
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [18]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf, scoring="neg_mean_squared_error")
score = cross_val_score(linear_model.LinearRegression(), X, y, cv= kf, scoring="neg_mean_squared_error")
print(f"Від'ємна cередньоквадратична похибка по кожному фолду : {score}")
rmse(score.mean())

Від'ємна cередньоквадратична похибка по кожному фолду : [ -4083.25587175 -10468.85637678  -2453.65941292  -3853.05818469
  -3173.21607154]
rmse= 69.33

### *Обгрунтування вибору методу крос-валідації*

 *Як і в завданні 1 вибір методу К-кратної крос-валідації зумовлений невеликим об'ємом даних для навчання та оцінки моделі.  
     В таких умовах використання методу К-кратної крос-валідації дає нам можливість отримати більш достовірні оцінки продуктивності моделі та уникнути перенавчання нашаої моделі.*